El servicio de venta de autos usados Rusty Bargain está desarrollando una aplicación para atraer nuevos clientes. Gracias a esa app, puedes averiguar rápidamente el valor de mercado de tu coche. Tienes acceso al historial: especificaciones técnicas, versiones de equipamiento y precios. Tienes que crear un modelo que determine el valor de mercado.
A Rusty Bargain le interesa:
- la calidad de la predicción;
- la velocidad de la predicción;
- el tiempo requerido para el entrenamiento

## Cargar y explorar los datos

In [6]:

import pandas as pd

# Load the dataset
data_path = 'car_data.csv'
car_data = pd.read_csv(data_path)

# Display basic information and statistics
print("Data Info:")
car_data.info()
print("\nData Description:")
print(car_data.describe(include='all'))
car_data.head()

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Mileage            354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

Data Description:
             DateCrawled          Price VehicleType  RegistrationYear Gearbox  \
count             354369  354369.000000      316879     354369.000000  334536
unique             15470            NaN           8               NaN       2
top     05/03/2016 14:25            NaN       sedan               NaN  manual
freq                  66            NaN       91457               NaN  268251
mean                 NaN    4416.656776         NaN       2004.234448     NaN
std                  NaN    4514.158514         NaN         90.227958     NaN
min                  NaN       0.000000         NaN       1000.000000     NaN
25%                  NaN    1050.000000         NaN       1999.000000     NaN
50%                  NaN    2700.000000         NaN       2003.000000     NaN
75%                  NaN    6400.000000         NaN       2008.000000     NaN
max                  NaN   20000.000000         NaN       9999.000000     NaN

                Power   Model        Mileage  RegistrationMonth FuelType  \
count   354369.000000  334664  354369.000000      354369.000000   321474
unique            NaN     250            NaN                NaN        7
top               NaN    golf            NaN                NaN   petrol
freq              NaN   29232            NaN                NaN   216352
mean       110.094337     NaN  128211.172535           5.714645      NaN
std        189.850405     NaN   37905.341530           3.726421      NaN
min          0.000000     NaN    5000.000000           0.000000      NaN
25%         69.000000     NaN  125000.000000           3.000000      NaN
50%        105.000000     NaN  150000.000000           6.000000      NaN
75%        143.000000     NaN  150000.000000           9.000000      NaN
max      20000.000000     NaN  150000.000000          12.000000      NaN

             Brand NotRepaired       DateCreated  NumberOfPictures  \
count       354369      283215            354369          354369.0
unique          40           2               109               NaN
top     volkswagen          no  03/04/2016 00:00               NaN
freq         77013      247161             13719               NaN
mean           NaN         NaN               NaN               0.0
std            NaN         NaN               NaN               0.0
min            NaN         NaN               NaN               0.0
25%            NaN         NaN               NaN               0.0
50%            NaN         NaN               NaN               0.0
75%            NaN         NaN               NaN               0.0
max            NaN         NaN               NaN               0.0

           PostalCode          LastSeen
count   354369.000000            354369
unique            NaN             18592
top               NaN  07/04/2016 07:16
freq              NaN               654
mean     50508.689087               NaN
std      25783.096248               NaN
min       1067.000000               NaN
25%      30165.000000               NaN
50%      49413.000000               NaN
75%      71083.000000               NaN
max      99998.000000               NaN

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17

## Limpieza y preprocesamiento de datos

In [7]:

# Handle missing values and remove irrelevant columns
# Remove columns with little or no value for model prediction
car_data.drop(['DateCrawled', 'DateCreated', 'NumberOfPictures', 'PostalCode', 'LastSeen'], axis=1, inplace=True)

# Handle missing values
car_data['VehicleType'].fillna('unknown', inplace=True)
car_data['Gearbox'].fillna('unknown', inplace=True)
car_data['Model'].fillna('unknown', inplace=True)
car_data['FuelType'].fillna('unknown', inplace=True)
car_data['NotRepaired'].fillna('unknown', inplace=True)

# Confirm that there are no remaining missing values
car_data.isnull().sum()

C:\Users\mm131\AppData\Local\Temp\ipykernel_21912\2870862402.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['VehicleType'].fillna('unknown', inplace=True)
C:\Users\mm131\AppData\Local\Temp\ipykernel_21912\2870862402.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Gearbox'].fillna('unknown', inplace=True)
C:\Users\mm131\AppData\Local\Temp\ipykernel_21912\2870862402.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Model'].fillna('unknown', inplace=True)
C:\Users\mm131\AppData\Local\Temp\ipykernel_21912\2870862402.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['FuelType'].fillna('unknown', inplace=True)
C:\Users\mm131\AppData\Local\Temp\ipykernel_21912\2870862402.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['NotRepaired'].fillna('unknown', inplace=True)

Price                0
VehicleType          0
RegistrationYear     0
Gearbox              0
Power                0
Model                0
Mileage              0
RegistrationMonth    0
FuelType             0
Brand                0
NotRepaired          0
dtype: int64

## Codificación y transformación de características

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Separate features and target
X = car_data.drop('Price', axis=1)
y = car_data['Price']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Encode categorical variables using OneHotEncoding (for models that require it)
categorical_features = ['VehicleType', 'Gearbox', 'Model', 'FuelType', 'Brand', 'NotRepaired']
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ],
    remainder='passthrough'
)

X_train_transformed = preprocessor.fit_transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

:

## Definición y entrenamiento de modelos

In [ ]:

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
import time
import numpy as np

# Define models
models = {
    "Linear Regression": LinearRegression(),
    "Random Forest": RandomForestRegressor(n_estimators=100, random_state=42),
    "LightGBM": LGBMRegressor(n_estimators=100, random_state=42)
}

# Train and evaluate models
results = {}
for model_name, model in models.items():
    start_time = time.time()
    model.fit(X_train_transformed, y_train)
    train_time = time.time() - start_time

    # Predict and calculate RMSE
    y_pred = model.predict(X_test_transformed)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    # Store results
    results[model_name] = {
        "RMSE": rmse,
        "Train Time (s)": train_time
    }

# Display results
import pandas as pd
results_df = pd.DataFrame(results).T
results_df